@charset "UTF-8";

body {
   margin-top: 1.0em;
   /*background-color: #5c418b;*/
   background-color: #6c519b;
   font-family: "Helvetica,Arial,FreeSans";
   color: #ffffff;
}

#container {
   margin: 0 auto;
   width: 700px;
}
h1 { 
   font-size: 3.8em; 
   color: #a3be74; 
   margin-bottom: 3px; 
}

h1 .small { 
   font-size: 0.4em; 
}

h2 { 
   font-size: 1.5em; 
   color: #a3be74; 
}

h3 { 
   text-align: center; 
   color: #a3be74; 
}

a { 
   color: #a3be74; 
   text-decoration: none 
}

.description { 
   font-size: 1.2em; 
   margin-bottom: 30px; 
   margin-top: 30px; 
   font-style: italic;
}

.download { 
   float: right; 
}

pre { 
   background: #000; 
   color: #fff; 
   padding: 15px;
}

hr { 
   border: 0; 
   width: 80%; 
   border-bottom: 1px solid #aaa
}

.footer { 
   text-align:center; 
   padding-top:30px; 
   font-style: italic; 
}
	