#formContenedor 
{
	text-align:center;
	position:absolute;
	width:400px;
	left:50%;
	margin-left:-200px;
}

table { width:400px; }

input 
{
	width:220px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid;
}

textarea
{
	width:220px;
	height:100px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid;
}

button { width:100px; height:22px; font-family:Verdana; font-size:11px; }

.label { width:110px; text-align:left; }

.campo { width:240px; }

.ayuda { width:50px; text-align:center; }

.inputNormal { border:1px solid; }

.inputError
{
	border:1px solid #FF0000;
	background-color:#FFF4F0;
	color:#FF0000;
}

/* Capas de transparencia y mensajes de confirmacion */

#transparencia
{
	background-color:#FFFFFF; 
	z-index:1; 
	position:absolute;
	width:400px;
	height:260px;
	display:none;
	opacity:0.95; filter:alpha(opacity="95");
}

#transparenciaMensaje
{
	position:absolute;
	width:300px;
	height:100px;
	margin-top:-50px;
	margin-left:-150px;
	top:50%;
	left:50%;
}

/* Mensajes de ayuda */

#mensajesAyuda
{
	width:160px;
	font-family:Verdana;
	font-size:10px;
	border:1px solid #000000;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	text-align:center;
}

#ayudaTitulo
{
	background-color:#000000; 
	color:#FFFFFF; 
	padding:1px;
}

#ayudaTexto
{
	vertical-align:middle;
	padding:2px;
}
